body {
  /* color: red;
  color: rgb(0, 255, 0)
  color: #0000ff;
  color: #00f; */
  color: #333;
  font-family: Verdana, sans-sans-serif;
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px; */
  margin: 0;
}

header {
  background-color: pink;
  text-align: right;
  padding: 10px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  /* padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px; */
  padding: 4px 8px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: royalblue;
}
